<?xml version="1.0"?>
<launch>

<arg name="namespace" default="" />
<arg name="fabric_simulator_config" default="" />
<arg name="fabric_simulator_subs_config" default="" />

<!-- Load Fabric Default parameters -->
<rosparam ns="$(arg namespace)" command="load" file="$(arg fabric_simulator_config)" subst_value="true" />

<!-- Load DLO Substitution parameters  -->

<!-- Load other global parameters -->

<rosparam ns="$(arg namespace)" command="load" file="$(arg fabric_simulator_subs_config)" subst_value="true" />

</launch>
